#ignore everything
*

#preserve file heirarchy
!*/

#dont ignore .cpp and .h files
!*.cpp
!*.h

#objective c files
!*.mm

#dont ignore the makefile, lisence or readmes
!Makefile
!*.md
!LICENSE
!*.sh

#dont ignore the buildscript
!.travis.yml

#dont ignore the doxygen build file
!CthulhuLib

#ignore the generated docs
Build/Docs
Build/Makefile

#ignore cmake stuff
Makefile
#dont ignore the actual build script though
!CMakeLists.txt
Build/*
CMakeFiles/*
CMakeCXXCompilerId.cpp
