#ignore everything
*

#preserve file heirarchy
!*/

#dont ignore .cpp and .h files
!*.cpp
!*.h

#objective c files
!*.mm

#dont ignore the makefile, lisence or readmes
!Makefile
!*.md
!LICENSE
!*.sh

#dont ignore the doxygen build file
!CthulhuLib

#ignore the generated docs
Build/Docs
Build/Makefile
Build/CMakeFiles/3.13.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
Makefile
