#ignore everything
*

#preserve file heirarchy
!*/

#dont ignore .cpp and .h files
!*.cpp
!*.h

#objective c files
!*.mm

#dont ignore the lisence or readmes
!*.md
!LICENSE

#dont ignore this build stuff
!buck
!buckaroo.toml

#ignore buck stuff
Docs/
.buckd/
buck-out/
.buckconfig